@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.animate-hue-rotation {
  animation: hue-rotate 1s linear infinite;
}

@keyframes hue-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}